# Database
DATABASE_URL="postgresql://reachinbox_user:reachinbox_password@localhost:5432/reachinbox?schema=public"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_URL="http://localhost:9200"

# Application
PORT=3001
WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_SENDS_MS=1000
MAX_EMAILS_PER_HOUR_PER_SENDER=10
SESSION_SECRET="your_session_secret"

# Frontend URL
FRONTEND_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Slack OAuth
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
